body {
    text-align: center;
    background-color: #171c29;
}

html {
    overflow: hidden;
}

h1 {
    font-size: calc(16px + 2 * ((100vw) / 30));
    color: #DBEDF3;
    font-family: "Arvo", cursive;
    text-shadow: 10px 10px #ac6987;
}

footer {
    color: #DBEDF3;
    font-family: sans-serif;
}

.w {
    background-image: url("images/crash.png");
}

.a {
    background-image: url("images/kick.png");
}

.s {
    background-image: url("images/snare.png");
}

.d {
    background-image: url("images/tom1.png");
}

.j {
    background-image: url("images/tom2.png");
}

.k {
    background-image: url("images/tom3.png");
}

.l {
    background-image: url("images/tom4.png");
}

.set {
    margin: 10% auto;
}

.set.phone {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5em;
}

.game-over {
    background-color: red;
    opacity: 0.8;
}

.pressed {
    box-shadow: 0 3px 4px 0 #DBEDF3;
    opacity: 0.5;
}

.red {
    color: red;
}

.drum {
    outline: none;
    border: 10px solid #404B69;
    font-size: calc(16px + 2 * ((100vw) / 50));
    font-family: 'Arvo', cursive;
    font-weight: 900;
    color: #DA0463;
    text-shadow: 3px 0 #DBEDF3;
    border-radius: 15px;
    display: inline-block;
    text-align: center;
    margin: 10px;
    background-color: white;
    transition: 100ms;
    padding: 5rem;
}

.drum.phone {
    background-repeat: no-repeat;
    width: 40%;
    margin: 0 auto;
    font-size: calc(16px + 1 * ((100vw) / 10));
}

.drum:active {
    opacity: 0.5;
}